<div class="ingredient-card">
    <h2 class="ingredient-card__title h2">
        {{ card_ingredient.name | escape }}
    </h2>
    <div class="ingredient-card__description">
        {{ card_ingredient.description | raw }}
    </div>
    <div class="ingredients-card__benefits">
        <h4 class="h4">Benefits:</h4>
        {{ card_ingredient.benefits | metafield_tag }}
    </div>
    <div class="ingredients-card__used-in">
        <div class="link">What it's used in</div>
        <div class="ingredients-card__used-in--products">
            <strong>Used in:</strong>
            {% for product in card_ingredient.products.value %}
                <a class="link" href="{{ product.url }}">{{ product.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>