{% comment %}
{%- if product.tags contains 'sale' -%}
<div class="discount-badge-container">
            
  
    
    <span
      id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}-1"
      class="discount-badge-short-text"
    >
      SAVE {{ product.compare_at_price_max | minus: product.price_max | times: 100.0 | divided_by: product.compare_at_price_max | round }}%
    </span>
  
</div>
{% endcomment %}
{%- if product.tags contains 'HERO20' -%}
  <div class="discount-container">
    <span
      id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}-1"
      class="discount-main-offer{% if product.tags contains 'free-gift-biretix' or product.tags contains 'free-gift-endocare'%} remove-border-radius{% endif %}"
    >
      <span class="discount-text-emphasis">20% off</span><br/>with code<br/><span class="discount-text-emphasis-code">HERO20</span>
    </span>
    {%- if product.tags contains 'free-gift-endocare'-%}
      <span
        id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}-2"
        class="discount-extra-offer"
      >
        <span class="discount-extra-offer-large-text">+ FREE GIFT</span><br/><span class="discount-long-text-emphasis">worth £40</span>
      </span>
      {%- elsif product.tags contains 'free-gift-biretix' -%}
      <span
        id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}-2"
        class="discount-extra-offer"
      >
        <span class="discount-extra-offer-large-text">+ FREE GIFT</span><br/><span class="discount-long-text-emphasis">worth £24</span>
      </span>
    {%- endif -%}
</div>
{%- elsif product.tags contains 'free-gift-biretix'-%}
  <div class="discount-container">
    <span
      id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}-1"
      class="discount-main-offer free-gift-main-offer"
    >
      <span class="discount-extra-offer-large-text">+ FREE GIFT</span><br/><span class="discount-long-text-emphasis">worth £24</span>
    </span>
</div>
{%- endif -%}