{{ 'component-blog-list.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{% assign all_blogs = "blog,expert-advice,professionals,skincare-routines,skincare-guides" | split: "," %}
{% assign article_list = "" | split: "," %}
{% assign delimiter = "___" %}
{% for blog_handle in all_blogs %}
  {%- for item in blogs[blog_handle].articles -%}
    {% assign identifier = item.published_at | date: "%Y-%m-%d-%H-%M-%S" | append: delimiter | append: item.handle | append: delimiter | append: blog_handle | split: " " %}
    {% assign article_list = article_list | concat: identifier %}
  {%- endfor -%}
{%- endfor -%}
{% assign article_list = article_list | sort_natural | reverse %}

<div class="page-width">
  <div class="blog-nav twcss-pb-16">
    {% for blog_handle in all_blogs %}
      <a class="button" href="/blogs/{{ blog_handle }}">{{ blog_handle | capitalize | replace: '-', ' '}}</a>
    {%- endfor -%}
    <a class="button" href="/pages/ingredients">Ingredeints Gloassary</a>
  </div>
  <div class="blog-grid">
  <!-- any container start markup -->
    {% for identifier in article_list limit:9 %}
      {% assign identifierParts = identifier | split: delimiter %}
      {% comment %} Get post from global articles object, using the "handle"/URI {% endcomment %}
      {% assign item = articles[identifierParts[1]] %}
      <!-- your per-post markup with variables like item.title, item.url, item.image, etcetera -->
      <!-- {{ identifier }} -->
        <div class="">
          <div class="twcss-relative">
            <div class="article-card__image media media--hover-effect" style="padding-bottom: {{ 1 | divided_by: item.image.aspect_ratio | times: 100 }}%;">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
                  {%- if item.image.src.width >= 165 -%}{{ item.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if item.image.src.width >= 360 -%}{{ item.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if item.image.src.width >= 533 -%}{{ item.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if item.image.src.width >= 720 -%}{{ item.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if item.image.src.width >= 1000 -%}{{ item.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if item.image.src.width >= 1500 -%}{{ item.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ item.image.src | image_url }} {{ item.image.src.width }}w
                "
                src="{{ item.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ item.image.src.alt | escape }}"
                loading="lazy"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
            </div>
            <span class="twcss-absolute twcss-bottom-4 twcss-left-4 twcss-bg-white twcss-bg-opacity-75 twcss-p-2 twcss-font-bold">{{ identifierParts[2] | capitalize | replace: '-', ' '}}</span>
          </div>
          <div class="card-content">
            <caption>{{ item.created_at | date: "%d %B  %Y" }}  by {{ item.author }}</caption>
            <h2 class="h2">{{item.title}}</h2>
            <p>{{ item.content | strip_html | truncatewords: 20, '...' }}</p>
            <a href="{{ item.url }}" class="read-more">Read More</a>
          </div>
        </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
{
    "name": "CL Blog list",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 64
        }
    ]
}
{% endschema %}