{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{{ 'section-button-nav.css' |  asset_url |  stylesheet_tag }}
<div class='page-width page-width--narrow'>
    <div class="twcss-py-[28px]">
    {% if section.settings.page_title != blank %}
        <h1 class="main-page-title page-title h0 scroll-trigger animate--fade-in ">{{ section.settings.page_title |  escape }}</h1>
    {% endif %}
    </div>
</div>
<div class='page-width twcss-flex twcss-justify-center button-nav'>
    <div class="twcss-overflow-x-auto twcss-whitespace-nowrap twcss-pb-4">
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                {% if block.settings.menu != blank %}
                    {% assign current_url = request.path %}
                    {% for link in linklists[block.settings.menu].links %}
                        <a href="{{ link.url }}" class="button twcss-mx-1 md:twcss-mx-2 button--secondary {% if link.url == current_url %}active {% endif %}">{{ link.title }}</a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var activeButton = document.querySelector('.button--secondary.active');
    if (activeButton) {
        activeButton.scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'center' });
    }
});
</script>

{% schema %}
  {
    "name": "Button Nav",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 64

        },
        {
            "type": "text",
            "id": "page_title",
            "label": "Page Title",
            "default": "Your Default Title"
        }
    ],
    "blocks": [
        {
            "type": "menu",
            "name": "Menu Block",
            "settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Select Menu",
                    "info": "Select a menu to display in the pre-header."
                }
            ]
        }
    ],
    "presets": [
        {
            "name" : "Button nav"
        }
    ]
  }
{% endschema %}