{{ 'AlphaListNav.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
    <div class="ingredient__search">
        <div class="field twcss-mt-8">
            <input id="ingredientsSearch" type="search" name="ingredeients-search" class="field__input" placeholder="Search for an ingredient." value="" aria-required="true" autocorrect="off" autocapitalize="off" required="">
            <label class="field__label" for="">
                Search for an ingredient.
            </label>
        </div>
    </div>
    {% paginate shop.metaobjects.ingredients.values by 100 %}
        <ul id="ingredientIndex" class="">
            {% for metaobject in shop.metaobjects.ingredients.values %}
                <li class="ingredient__item">
                    <div class="card-ingredient__name twcss-hidden">{{ metaobject.name | escape }}</div>
                    {% render 'card-ingredient', card_ingredient: metaobject %}
                </li>
            {% endfor %}
        </ul>
    {% endpaginate %}
</div>

<!-- Include AlphaListNav.js -->
<script src="{{ 'AlphaListNav.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'ingredient-index.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "Ingredient Index",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 64
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 64
        }
    ]
}
{% endschema %}
